<%= render "header" %>

<%= link_to "Add New Product", new_product_path %>
<%= link_to "Create an Account", new_user_path %>

<ul>
<% @products.each do |p| %>
  <li>
    <div>
      <%= link_to p.name, product_path(p.id) %>
      $<%= p.format_price %>
    </div>
  </li>
<% end %>
</ul>